{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Gestion du profil{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">



        {# H1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Gestion du profil</h1>
        </div>



                <div class="row">

                    <div class="col-12 col-md-10 offset-1 d-flex justify-content-center align-items-center mb-4">

                        {# Infos du compte #}
                        <ul class="list-group col-12 col-md-8 p-0">
                            <li class="list-group-item bg-black">Adresse Email : <span class="text-info">{{ app.user.email }}</span></li>
                            <li class="list-group-item bg-black">Prénom : <span class="text-info">{{ app.user.firstname }}</span></li>
                            <li class="list-group-item bg-black">Nom : <span class="text-info">{{ app.user.lastname }}</span></li>
                            <li class="list-group-item bg-black">Adresse : <span class="text-info">{{ app.user.address }}</span></li>
                            <li class="list-group-item bg-black">Numéro de téléphone : <span class="text-info">{{ app.user.phone }}</span></li>
                            <li class="list-group-item bg-black">Date d'inscription : <span class="text-info">{{ app.user.registrationDate|date('d/m/Y') }}</span></li>
                            <li class="list-group-item bg-black">Compte : <span class="text-info">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Membre' }}</span></li>
                        </ul>

                    </div>

                </div>




    </div>

     <!--mon footer-->
<<<<<<< HEAD
     <footer class="page-footer font-small special-color-dark pt-4 mt-4 fixed-bottom">
=======
     <footer class="page-footer font-small special-color-dark pt-4 mt-4 absolute-bottom">
>>>>>>> 483e4e79ed65ed25c9246bb65f01df6a555ff420

        <!-- Footer Elements -->
        <div class="container">
            <h2>Retrouvez-nous !</h2>
        <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1">
                            <i class="fab fa-twitter"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1">
                            <i class="fab fa-google-plus-g"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1">
                            <i class="fab fa-linkedin-in"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-dribbble mx-1">
                            <i class="fab fa-dribbble"> </i>
                        </a>
                    </li>
                </ul>
        <!-- Social buttons -->
        </div>
        <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

{% endblock %}
