{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Nos locations{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

        {# H1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Nos locations</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">

                {% if logements is empty %}

                    <div class="row">
                        <p class="col-12 text-center alert alert-warning">Aucune annonce à afficher.</p>
                    </div>

                {% else %}

                    <div class="row">

                        {# Boucle pour parcourir tous les logements à afficher #}
                        {% for logement in logements %}

                            <div class="col-12">
                                <div class="card my-3 bg-black d-flex flex-row">

                                    <div class="col-md-3 m-0">
                                            <a href="{{ path('logement_logement_view', { slug: logement.slug }) }}" alt=""><img class="img-fluid img-thumbnail m-0" src="{{ asset('images/logements/' ~ logement.mainPhoto) }}"
                                            </a>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-header">
                                            <a href="{{ path('logement_logement_view', { slug: logement.slug }) }}
                                            " >{{ logement.title }}</a>
                                        </div>

                                        <div class="card-body">
                                            <div class="mb-2">
                                                {{ logement.description|striptags|slice(0, 150) }}
                                            </div>
                                            {# Affichage de la date de publication et du pseudonyme de l'auteur #}
                                            <footer class="blockquote-footer">Publié le <strong>{{ logement.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{ logement.author.firstname }} {{ logement.author.lastname }}</strong></footer>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>


                {% endif %}

            </div>
        </div>

    </div>


    <!--mon footer-->
 <footer class="page-footer font-small special-color-dark pt-4 fixed-bottom">

    <!-- Footer Elements -->
    <div class="container">
        <h2>Retrouvez-nous !</h2>
    <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-google-plus-g"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-dribbble mx-1">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </li>
            </ul>
    <!-- Social buttons -->
    </div>
    <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>

{% endblock %}
